{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Listado de anuncios</title>
        <link rel="StyleSheet" href="{%static 'css/estilos.css'%}" type="text/css" media="screen">
    </head>
        <body>
            <div id="content">
                {% block content %}
                <h1>Lista de anuncios</h1>
                    {% for anuncio in anuncios %}
                <h2>
                {{ anuncio.titulo }}
                </h2>
                <p>
                    <img align="left" src="{{ anuncio.image.url }}"
                    height="200" alt="{{anuncio.titulo}}"> {{ anuncio.texto }}
                </p>
                {% endfor %}
                {% endblock %}
            </div>
        </body>
    </html>